version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: universal_device_rental_postgres
    restart: always
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      TZ: Asia/Seoul
      POSTGRES_DB: universal_device_rental
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d universal_device_rental" ]
      interval: 5s
      timeout: 5s
      retries: 5

  spring:
    image: daljee/universal-device-rental:latest
    container_name: universal-device-rental
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
    ports:
      - "80:8080"
    volumes:
      - upload_data:/app/uploads
      - app_logs:/app/logs
    environment:
      TZ: Asia/Seoul
      SPRING_PROFILES_ACTIVE: dev

      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/universal_device_rental
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}

      JWT_SECRET: ${JWT_SECRET}
      OAUTH2_GOOGLE_ID: ${OAUTH2_GOOGLE_ID}
      OAUTH2_GOOGLE_SECRET: ${OAUTH2_GOOGLE_SECRET}

      FILE_UPLOAD_PATH: /app/uploads
      FILE_BASE_URL: ${FILE_BASE_URL}

      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}

      LOGGING_FILE_NAME: /app/logs/application.log

      JAVA_OPTS: >-
        -Duser.timezone=Asia/Seoul
        -Xms512m
        -Xmx512m
        -XX:+UseG1GC
        -XX:MaxGCPauseMillis=200

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  loki:
    image: grafana/loki:latest
    container_name: loki
    volumes:
      - ./monitoring/loki-config.yaml:/etc/loki/local-config.yaml
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - ./monitoring/promtail-config.yaml:/etc/promtail/config.yml
      - app_logs:/app/logs:ro
    command: -config.file=/etc/promtail/config.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
      - loki
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  postgres_data:
  upload_data:
  app_logs:
  grafana_data:
