spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH2_GOOGLE_ID}
            client-secret: ${OAUTH2_GOOGLE_SECRET}

logging:
  level:
    root: INFO
    com.rentify.rentify_api: DEBUG
    org.hibernate.SQL: DEBUG

file:
  upload:
    path: ./uploads
  base:
    url: http://localhost:8080