spring:
  application:
    name: rentify-api

#  datasource:
#    driver-class-name: org.postgresql.Driver
#    url: jdbc:postgresql://localhost:5432/rentify
#    username: postgres
#    password: postgres
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:h2:mem:db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  profiles:
    active: secret

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger
    groups-order: desc
    operations-sorter: method
    default-models-expand-depth: -1
  api-docs:
    path: /api-docs

logging:
  level:
    root: INFO
    com.rentify.rentify_api: DEBUG
    org.hibernate.SQL: debug