spring:
  application:
    name: rentify-api

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/rentify
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  profiles:
    active: secret

server:
  port: 8080

logging:
  level:
    root: INFO
    com.rentify.rentify_api: DEBUG
    org.hibernate.SQL: debug